<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center">
            <span class="text-nowrap">Hello, @context.User.Identity?.Name!</span>
            <form @formname="Logout" action="/api/auth/logout" method="post" class="ms-2">
                <AntiforgeryToken />
                <button type="submit" class="btn btn-link nav-link">Log out</button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/login" class="nav-link">Log in</a>
    </NotAuthorized>
</AuthorizeView>