﻿@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="border-top footer text-muted mt-4">
            <div class="container-fluid text-center py-3">
                &copy; @DateTime.Now.Year - Work Ticket App Copyright 2026 © Chrome Partners
            </div>
        </footer>
    </main>
</div>

@* Fully qualified to resolve RZ9985 ambiguity *@
<WorkTicketApp.Components.Shared.ConfirmModal />