.navbar-toggler[b-2j46upidbm] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-2j46upidbm] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-2j46upidbm] {
    height: 3.5rem;
    background-color: #19A7CE;
}

.navbar-brand[b-2j46upidbm] {
    font-size: 1.1rem;
    font-weight: 700;
    color: #F6F1F1;
}

.nav-item[b-2j46upidbm]  .nav-link i {
    margin-right: 0.75rem;
    width: 1.25rem;
    text-align: center;
}

.nav-item[b-2j46upidbm] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-2j46upidbm] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-2j46upidbm] {
        padding-bottom: 1rem;
    }

    .nav-item[b-2j46upidbm]  .nav-link {
        color: #AFD3E2;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
        font-weight: 300;
    }

.nav-item[b-2j46upidbm]  a.active {
    background-color: #19A7CE;
    color: #F6F1F1;
    font-weight: 500;
}

.nav-item[b-2j46upidbm]  .nav-link:hover {
    background-color: #19A7CE;
    color: #F6F1F1;
}

.nav-scrollable[b-2j46upidbm] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-2j46upidbm] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-2j46upidbm] {
        display: none;
    }

    .nav-scrollable[b-2j46upidbm] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
